# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
uv.lock

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# macOS
.DS_Store
